.NavigationBar{
  padding: 2rem 4rem;
  margin: 0;
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.1);
  
}

.NavigationBar > img{
  width: 6rem;
}

.card-list{
  display: flex;
  align-items: center;
}

.image{
  margin: 2rem 17rem;
}

.HeroSection > h1{
  font-size: 98px;
  margin-bottom: 1rem;
}

.HeroSection > p{
  width: 40rem;
  font-size: 31px;
}

/* Cards Styling*/

.CardSection{
  display: flex;
  margin: 4rem;
}

.Card + .Card{
  margin-left: 2rem;
}

.Stars{
  color: #FE395C;
}

span + span {
  margin-left: .1rem;
}

.Dot{
  color: grey;
}

.Card > :nth-child(4)> span  {
  font-weight: 600;
}

